*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container
{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    font-size: 1.3em;
    text-align: center;
}

.countdown
{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    columns: 4;
    text-decoration: none;
    color: #f1a90d;
    font-size: 1.3em;
    z-index: 1;
    position: relative;
    

}
@font-face {
    font-family: Waterfall;
    src: url(./fonts/Formula1-Bold-4.ttf);
}
@font-face {
    font-family: Waterfall2;
    src: url(./fonts/Formula1-Regular-1.ttf);
}
@font-face {
    font-family: Waterfall3;
    src: url(./fonts/Formula1-Black.ttf);
}
@font-face {
    font-family: Waterfall4;
    src: url(./fonts/Formula1-Bold_web.ttf);
}
@font-face {
    font-family: Waterfall5;
    src: url(./fonts/Formula1-Italic.ttf);
}
@font-face {
    font-family: Waterfall6;
    src: url(./fonts/Formula1-Wide.ttf);
}

.navbar
{
    background-color: #a4a3a3;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    flw
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {

    background-color: #fff;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    align-items: flex-start;
    align-items: center;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.navbar__links:hover {
    color: #f1a90d;
    transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0%;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;
    }

    .navbar__menu.active {
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 60vh;
        font-size: 1.6rem;
    }

    #navbar__logo {
        padding-left: 25px;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .navbar__btn {
        padding-bottom: 2rem;
    }


    .button {
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }
   
    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

/* footer CSS */
.footer__container {
    background-color: #fff;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer__logo {
    color: rgb(224, 152, 18);
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.footer__links {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}

.footer__link--wrapper {
    display: flex;
}

.footer__link--items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
}

.footer__link--items h2 {
    margin-bottom: 16px;
    color: #131313;
}

.footer__link--items a {
    color: #131313;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.footer__link--items a:hover {
    color: #f5b812;
    transition: 0.3 ease-out;
}

.social__icon--link {
    color: #f5b812;
    font-size: 24px;
}

.social__media {
    max-width: 1000px;
    width: 100%;
}

.social__media--wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
}

.social__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
}

.website__rights {
    color: #131313;
}

@media screen and (max-width: 820px) {
    .footer__links {
        padding-top: 2rem;
    }

    #footer__logo {
        margin-bottom: 2rem;
    }

    .website__rights {
        margin-bottom: 2rem;
    }

    .footer__link--wrapper {
        flex-direction: column;
    }

    .social__media--wrap {
        flex-direction: column;
    }
}

@media screen and (max-width: 480px) {
    .footer__link--items {
        margin: 0;
        padding: 10px;
        width: 100%;
    }
}

/* drivers section*/
.services {
    background: #fff;
    display: flex;

    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 10rem 0;
}

.services h1 {
    background-color: #ff8177;
    background-image: linear-gradient( to right,
    rgba(250, 7, 7, 0.842),
    rgba(11, 236, 86, 0.5));
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin-bottom: 5rem;
    font-size: 2.5rem;
}

.services__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}
.services__wrapper1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.services__card {
    margin: 10px;
    height: 425px;
    width: 300px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    background-image:  linear-gradient(
        to right,
        rgba(250, 7, 7, 0.842),
        rgba(11, 236, 86, 0.5)
    ); 

    transition: 0.3s ease-in;
}
.services__card-First {
    margin: 10px;
    height: 700px;
    width: 360px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    background-image:  linear-gradient(
        to right,
        rgba(250, 7, 7, 0.842),
        rgba(11, 236, 86, 0.5)
    ); 

    transition: 0.3s ease-in;
}
.services__card-Second {
    margin: 10px;
    height: 625px;
    width: 360px;
    border-radius: 4px;
    display: flex;
    top: auto;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    background-image:  linear-gradient(
        to right,
        rgba(250, 7, 7, 0.842),
        rgba(11, 236, 86, 0.5)
    ); 

    transition: 0.3s ease-in;
}
.services__card-Third {
    margin: 10px;
    height: 525px;
    width: 360px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    background-image:  linear-gradient(
        to right,
        rgba(250, 7, 7, 0.842),
        rgba(11, 236, 86, 0.5)
    ); 

    transition: 0.3s ease-in;
}

.services__card:nth-child(2) {
    background-image: linear-gradient(     to right,
    rgba(250, 7, 7, 0.842),
    rgba(11, 236, 86, 0.5)
    );
}

.services__card:nth-child(3) {
    background-image: linear-gradient(
        to right,
        rgba(250, 7, 7, 0.842),
        rgba(11, 236, 86, 0.5)
    );
    
}

.services__card h2 {
    text-align: center;
}

.services__card p {
    text-align: center;
    margin-top: 24px;
    font-size: 20px;
}

.services__btn {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.services__card button {
    color: #fff;
    padding: 14px 24px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #131313;
    font-size: 1rem;
}

.services__card button:hover {
    cursor: pointer;
}

.services__card:hover {
    transform: scale(1.075);
    transition: 0.3s ease-in;
    cursor: pointer;
}

@media screen and (max-width: 1300px) {
    .services__wrapper {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 768px){
    .services__wrapper {
        grid-template-columns: 1fr;
    }
}

/* columms section aki abajo */

